$couleurPrimaire : white;
$couleurSecondaire : #f5f5f5;
$couleurTerciaire : #8ac4ff;

@font-face {
    font-family: "Geo";
    src: url("../fonts/GeosansLight.ttf"); }

body{
    background-color: $couleurPrimaire;
}

p{
    font-family: "Geo";
}
#entete{
    background-color: $couleurSecondaire;
    padding: 50px 50px 100px 50px;
    border-radius: 0px;
    height:100px;}

#entete-nom{
    float:right;
    font-family: sans-serif;
    color: $couleurTerciaire;
    margin-top: 15px;
    text-align: center;
    font-size: 2em;
}

#entete-infos{
    float:left;
    margin-bottom: 10px;
}
