$couleurPrimaire : white;
$couleurSecondaire : #f5f5f5;
$couleurTerciaire : #8ac4ff;

@font-face {
    font-family: "Geo";
    src: url("../fonts/GeosansLight.ttf"); }

body{
    background-color: $couleurPrimaire;
}

p{
    font-family: sans-serif;
}
#entete{
    background-color: $couleurSecondaire;
    padding: 15px;
    border-radius: 10px;
    height: auto;
    overflow: hidden;}

#entete-nom{
    float:right;
    font-family: sans-serif;
    color: $couleurTerciaire;
    margin-top: 15px;
    text-align: center;
    font-size: 2em;
}

#entete-infos{
    float:left;
    margin-bottom: 10px;
}

.rubrique{
    background-color: $couleurSecondaire;
    margin-top: 20px;
    padding:15px;
    border-radius: 10px;
}

.titres{
    text-align:center;
}

#competences-box{
    display:flex;
    align-content: center;
}

#competences-gauche{
    margin-left: 2%;
    margin-right: 2%;
    width:45%;
}

#competences-droite{
    margin-left: 2%;
    margin-right: 2%;
    width:45%;
}

.competences-titre{
    padding: 10px;
    border-top: 1px solid;
    text-align: center;
}

.competences-contenu{
    text-align: left;
}


.formation{
    border-left: 3px solid $couleurTerciaire;
    padding : 5px;
    margin-left:10px;
    margin-bottom:10px;
}